body{
    height: 100vh;
    /* overflow: hidden; */
}
.form-container {
  max-width: 480px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-container label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #555;
}

.form-container input,
.form-container select,
.form-container textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 14px;
}

.form-container textarea {
  resize: none;
  height: 80px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.form-container button:hover {
  background-color: #45a049;
}

.raise-btn{
  padding: 10px 13px;
  background-color: rgb(239, 203, 155);
  border: none;
  border-radius: 5px;
  font-style: italic;
  transition: color 0.3s ease;
  font-size:17px;
}

.raise-btn:hover{
  background-color: rgb(230, 177, 108);
  border: 2px solid rgb(234, 29, 29);
}
